$gr: #00704a;
$red: #f51a2d;

@mixin bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@mixin grid ($dev){
    @if($dev=='mov'){
        width: 90%;
    }
    @else if($dev=='tab'){
        width: 90%;
        max-width: 700px;
    }
    @else{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
    }
}
html{
    font-size: 3vw;
}
body{
    font-size: 0.7vw;
    overflow-x: hidden;
    position: relative;
}

// 헤더
.hdrWrap{
    border-top: 10px solid $gr;
    position: relative;
    background-color: #fff;
    z-index: 5;
    &::before{
        position: absolute;
        display: block;
        content: '';
        background-color: #fff;
        background-position: left;
        z-index: 6;
        width: 100%;
        top: 110px;
        left: 0;
        height: 0px;
        border: 0.2px solid #dcdcdc;
        opacity: 1;
        transition: all 0.5s;
    }
    &.show{
        &::before{
            height: 240px;
        }
        header{    
            height: 350px;
            ul{
                opacity: 1;
            }
        }
    }
    header{
        @include grid('pc');
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        height: 110px;
        overflow-y: clip;
        transition: all 0.5s;
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        .hdrLeft{
            width: calc(100% / 12 * 5);
            display: flex;
            .image{
                width: calc(100% / 5 * 3);
                height: 60px;
                @include bg;
                text-indent: -9999px;     
                background-image: url('../images/logo.png');
                cursor: pointer;
            }
            .btn{
                background-color: $red;
                color: #fff;
                border-radius: 30px;
                width: calc(100% / 5 * 1.6);
                height: 50px;
                padding: 6px 14px;
                display: flex;
                justify-content: space-between;
                margin-top: 5px;
                cursor: pointer;
                .icon{
                    text-indent: -9999px;
                    width: 40px;
                    height: 40px;
                    @include bg;
                    background-image: url('../images/hdr01.png');
                }
                .texts{ 
                    padding-left: 10px;
                    h4{
                        line-height: 18px;
                        font-size: #{'min(14px , 1.4em)'};
                        font-weight: 700;
                        display: block;
                        &:nth-child(2){
                            font-size: #{'min(18px , 1.8em)'};
                        }
                    }
                }
            }
            .hBtn{
                display: none;
            }
        }
        nav{
            width: calc(100% / 12 * 4.5);
            position: relative;
            margin-top: -19px;
            ul{
                display: flex;
                justify-content: space-between;
                height: 110px;
                li{
                    text-align: center;
                    width: calc(100% / 3 - 5px);
                    cursor: pointer;
                    position: relative;
                    transition: all 0.2s;
                    color: $gr;
                    a{
                        font-family: 'gmB';
                        line-height: 110px;
                        font-size: #{'min(1.8em , 18px)'};
                        transition: all 0.2s;
                    }
                    &:hover{
                        color: $red;
                        font-size: #{'min(2em , 20px)'};
                        a{  
                            font-size: #{'min(2em , 20px)'};
                            color: $red;
                        }
                    }
                    span{
                        @include bg;
                        background-image: url('../images/doughnut-marker.svg');
                        position: absolute;
                        width: 34px;
                        height: 43px;
                        color: transparent;
                        top: 23px;
                        right: -18px;
                    }
                    ul{
                        display: inherit;
                        height: 240px;
                        opacity: 0;
                        transition: opacity 0.3s;
                        &:hover{
                            background-color: #f1f1f1b3;
                        }
                        li{
                            font-size: #{'min(1.5em , 15px)'};
                            color: #000;
                            width: fit-content;
                            margin: 0 auto;
                            line-height: 60px;
                            font-family: 'gmM';
                            &::after{
                                width: 0%;
                                margin: 0 auto ;
                                height: 3px;
                                content: '';
                                display: block;
                                background-color: $red;
                                margin-top: -10px;
                                transition: all 0.25s;
                            }
                            &:hover{
                                color: $red;
                                &::after{
                                    width: 100%;
                                }
                            }

                        }
                    }
                }
            }    
        }
    }
}

// 푸터
.ftrWrap{
    background-color: #292929;
    margin-top: 80px;
    .footer{
        @include grid('pc');
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 60px 0px;
        .ftrLeft{
            width: calc(100% / 12 * 2.2);
            @include bg;
            background-image: url('../images/logo2.png');
        }
        .ftrMid{
            width: calc(100% / 12 * 5);
            ul{                 
                display: flex;
                justify-content: space-between;
                padding-right: 20%;
                li{
                    cursor: pointer;
                    font-size: #{'min(12px , 1.2em)'};
                }
            }
            h4{
                line-height: 20px;
                font-size: #{'min(12px , 1.2em)'};
                &:nth-child(2){
                    margin-top: 20px;
                }
            }
        }
        .ftrRight{
            width: calc(100% / 12 * 3);
            select{
                text-align: center;
                width: 100%;
                height: 40px;
                background-color: #292929;
                color: #fff;
                border-radius: 30px;
                font-size: 17px;
                cursor: pointer;
            }
            .sns{
                text-align: center;
                margin-top: 20px;
                span{
                    font-family: 'xc';
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }
    }
    .ftrBtm{
        max-width: inherit;
        text-align: center;
        line-height: 60px;
        background-color: #000;
        color: #fff;
        font-size: #{'min(12px , 1.2em)'};
    }
}
@media (max-width : 1024px) and (min-width : 0){
    .hdrWrap{
        header{
            flex-wrap: wrap;
            @include grid('tab');
            .hdrLeft{
                width: 100%;
                height: 30%;
                .image{
                    margin: 0 auto;
                    height: 70px;
                }
                .btn{
                    display: none;
                }
                .hBtn{
                    display: block;
                    font-family: 'xc';
                    font-size: 50px;
                    cursor: pointer;
                    z-index: 10;
                }
            }
            nav{
                display: none;
                opacity: 0;
                width: 100%;
                height: 60%;
                transition: opacity 0.5s;
                span{
                    display: none;
                }
                ul{
                    &:hover{
                        background-color: inherit;
                    }
                    li{
                        line-height: 50px;
                        font-size: #{'min(2.2em , 22px)'};
                        ul{
                            li{
                                font-size: #{'min(1.7em , 17px)'};
                            }
                        }
                        a{
                            line-height: 60px;
                            font-size: #{'min(1.9em , 19px)'};
                        }
                    }
                }
            }
        }
        &.show{
            &::before{
                height: 350px;
            }
            header{    
                height: 400px;
                nav{
                    display: block;
                    opacity: 1;
                }
            }
        }
    }
    // 태블릿 푸터
    .ftrWrap{
        margin-top: 40px;
        .footer{
            @include grid('tab');
            padding: 40px 0px;
            .ftrLeft{
                width: calc(100% / 8 * 2);
            }
            .ftrMid{
                width: calc(100%/ 8 * 5);
                ul{
                    li{
                        font-size: #{'min(14px , 1.4em)'};
                    }
                }
                h4{
                    font-size: #{'min(13px , 1.3em)'};
                }
            }
            .ftrRight{
                display: none;
            }
        }
        .ftrBtm{
            font-size: #{'min(15px , 1.5em)'};
        }
    }
}
@media (max-width : 420px) and (min-width : 0){
// 모바일 헤더
    .hdrWrap{
        header{
            flex-wrap: wrap;
            @include grid('mov');
            .hdrLeft{             
                .image{
                    margin-left: 20%;
                    height: 60px;
                }
                .hBtn{
                    font-size: 42px;
                    line-height: 60px;
                }
            }
            nav{
                ul{
                    li{
                        ul{
                            li{
                                font-size: #{'min(1.7em , 17px)'};
                            }
                        }
                        a{
                            font-size: #{'min(2.5em , 25px)'};
                        }
                    }
                }
            }
        }
    }
    .ftrWrap{
        margin-top: 40px;
        .footer{
            display: none;
        }
        .ftrBtm{
            font-size: #{'min(11px , 1.1em)'};
            line-height: 60px;
        }
    }
}    

