html{
    font-size: 3vw;
}
body{
    font-size: 0.7vw;
    overflow-x: hidden;
    position: relative;
}

$ovr: #{'min(calc((100vw - 1080px) / -2 ), calc((100vw - 80vw) / -2 ));'};
$gr: #00704a;
$yl: #ffdf4e;
$pc: #ffcca3;
$pk: #ffe7e7;
$dpk: #ef6781;
$br: #3c2121;
$iv: #fff7e0;
$red: #f51a2d;
$grey: #7d7d7d;

@mixin bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@mixin bgv {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin ff($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('./fonts/#{$url}');
    }
}
@include ff(xc,'xeicon.ttf');
@include ff(NsR,'NanumSquareR.ttf');
@include ff(NsL,'NanumSquareL.ttf');
@include ff(jal,'Jalnan.ttf');
@include ff(gmB,'GmarketSansTTFBold.ttf');
@include ff(gmM,'GmarketSansTTFMedium.ttf');
@include ff(gmL,'GmarketSansTTFLight.ttf');

@mixin grid ($dev){
    @if($dev=='mov'){
        width: 90%;
    }
    @else if($dev=='tab'){
        width: 90%;
        max-width: 700px;
    }
    @else{
        width: 80%;
    }
    margin: 0 auto;
    max-width: 1080px;
    
}
// 스크롤네비

ul.nav{
    position: fixed;
    left: 5%;;
    bottom: 200px;
    display: none;
    li{
        margin-top: 20px;
        display: flex;
        position: relative;
        cursor: pointer;
        &:nth-child(1){
            font-size: 50px;
            &:hover{
                h4{
                    font-size: 40px;
                    font-weight: 700;
                    background-color: $red;
                }
            } 
            h4{
                font-family: 'xc';
                text-align: center;
                font-size: 30px;
                transition: all 0.3s;

            }
        }
        &:nth-child(1)~li{
            &:hover{
                .image{
                    background-color: $pk;
                }
                h4{
                    width: max-content;
                    padding: 2px 25px 2px 72px;
                    span{
                        display: block;
                    }
                }
            }
        }
        .image{
            position: absolute;
            width: 50px;
            height: 50px;
            top: 0;
            left: 0;
            border-radius: 50%;
            border: 2.5px solid $br;
            background-color: #fff;
            &::before{
                content: '';
                display: block;
                background-color: $br;
                width: 2.5px;
                height: 16px;
                margin: 0 auto;
                margin-top: -21px;
                
            }
            @include bgv();
            @for $img from 1 through 5{
                &.i#{$img}{
                    background-image: url('../images/icon0#{$img}.png');
                }
            }
            
        }
        h4{
            height: 50px;
            line-height: 40px;
            font-size: 23px;
            border: 2.5px solid $br;
            background-color: $dpk;
            width: 60px;
            color: #fff;
            font-family: 'jal';
            padding: 2px 0px 2px;
            border-radius: 30px 30px 30px 30px;
            transition: all 0.5s;
            span{
                display: none;
            }

        }
    }
}

// 메인
.mainWrap{
    position: relative;
    overflow: hidden;
    margin-top: 110px;
    .Mbnr{
        position: absolute;
        height: 200px;
        width: 100px;
        @include bg();
        background-image: url('../images/btn_go_story.png');
        animation-name: move;
        animation-duration: 1.8s;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation-iteration-count: infinite;
        right: 12%;
        z-index: 5;
        cursor: pointer;
    }
    @keyframes move {
        0%{
            top: -20px;
        }
        25%{
            top: -20px;
        }
        50%{
            top: -10px;
        }
        75%{
            top: -20px;
        }
        100%{
            top: -20px;
        }
    }
    main{
        position: relative;
        height: 600px;
        overflow: hidden;  
        .artGroup{
            article{
                height: 600px;
                @include bgv;
                background-image: url(../images/mnbg01.jpg);
                @for $img from 1 through 3{
                    &.i#{$img}{
                        background-image: url(../images/mnbg0#{$img}.jpg);
                    }
                }
                &.i1{
                    .img{
                        .images{
                            animation-name: mnin;
                        }
                        .image:nth-child(2){
                            margin-right: 7%;
                        }

                    }
                } 
                .img{
                    @include grid('pc');
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    .images{
                        width: 50%;
                        position: absolute;
                        animation-duration: 0.5s;
                        animation-iteration-count: unset;
                        animation-fill-mode: forwards;
                        animation-timing-function: ease-out;
                        left : -55%;
                        opacity: 0;
                        @keyframes mnin {
                            0%{
                                left : -55%;
                                opacity: 0;
                            }
                            100%{
                                left : 0%;
                                opacity: 1;
                            }
                        }
                        @keyframes mnout {
                            0%{
                                left : 0%;
                                opacity: 1;
                            }
                            100%{
                                left : -55%;
                                opacity: 0;
                            }
                        }
                        .image{
                            width: 100%;
                            height: #{'min(33rem , 500px)'};
                            @include bg;
                            @for $img from 1 through 3{
                                &.i#{$img}{
                                    background-image: url('../images/m_mainleft_pic0#{$img}.png');
                                }
                            }
                        }
                        .btn{
                            width: calc(100% / 7 * 3);
                            margin: 0 auto;
                            font-family: 'NsR';
                            border: 2.5px solid white;
                            background-color: #00704a;
                            border-radius: 30px;
                            font-size: 21px;
                            line-height: 53px;
                            height: 53px;
                            color: #fff;
                            position: relative;
                            padding-left: 30px;
                            cursor: pointer;
                            transition: all 0.5s;
                            &:hover{
                                background-color: #fff;
                                color: #00704a;
                                &::after{
                                    background-color: #00704a;
                                    color: #fff;
                                }
                            }
                            &::after{
                                content: '';
                                text-align: center;
                                display: inline-block;
                                font-family: 'xc';
                                background-color: #fff;
                                color: #00704a;
                                font-weight: 700;
                                width: 38px;
                                height: 38px;
                                line-height: 40px;
                                font-size: 28px;
                                border-radius: 50%;
                                position: absolute;
                                right: 10px;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                            }
                        }
                    }
                    .image:nth-child(2){
                        width: 40%;
                        height: 500px;
                        margin-left: auto;
                        @include bg;
                        @for $img from 1 through 3{
                            &.i#{$img}{
                                background-image: url('../images/mnright0#{$img}.png');
                            }
                        }
                        animation-name: mv;
                        animation-timing-function: ease-in-out;
                        animation-duration: 1.6s;
                        animation-iteration-count: infinite;
    
                        @keyframes mv {
                            0%{
                                transform: translate(0% , 0%);
                            }
                            50%{
                                transform: translate(0% , 5%);
                            }
                            100%{
                                transform: translate(0% , 0%);
                            }
                        }
                    }
                }
            }
        }
        .count{
            position: absolute;
            bottom: 44px;
            width: 66px;
            height: 55px;
            right: 0;
            left: 0;
            margin: auto;
            &::after{
                display: block;
                content: '';
                width: 130%;
                height: 1px;
                transform-origin: top left;
                transform: rotateZ(319deg);
                background-color: #777;
            }
            h4{
                font-size: 25px;
                font-weight: 700;
                font-family: 'gmB';
                color: #000;
                line-height: 27px;
                &:nth-child(2){
                    font-weight: 100;
                    text-align: right;
                    font-family: 'gmM';
                    color: #777;
                    font-size: 20px;
                    
                }
            }

        }
        .btnDn{
            position: absolute;
            transform: rotate(90deg);
            width: 70px;
            font-family: 'xeicon';
            font-size: 65px;
            color: $red;
            font-weight: 700;
            letter-spacing: -45px;
            cursor: pointer;
            bottom: 41px;
            right: 27%;
            margin: auto;
            span{
                animation-duration: 1.5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-name: light2;
                &:nth-child(2){
                    animation-name: light;
                }

            }
        }
    }
}

// 컨텐츠
.cntWrap{
    margin-top: 80px;
    // 컨텐츠2 랩
    &:nth-child(4){
        overflow: hidden;
    }
    // 컨텐츠 공통
    .content{
        @include grid('pc');
        header{
            h2{
               font-size: 36px;
               font-weight: 700;
               line-height: 50px;
               font-family: 'gmB';
               text-align: center;
               position: relative;
               color: $red;
               &::after{
                   content: '';
                   display: block;
                   width: 6%;
                   height: 5px;
                   background-color: $red;
                   margin: 0 auto;
               } 
            }
            .hdrBtm{
                display: flex;
                justify-content: space-between;
                h4{
                    font-size: 17px;
                    font-family: 'NsR';
                    &:nth-child(2){
                        cursor: pointer;
                    }
                    span{
                        font-family: 'xc';
                    }
                }
            }
        }
        section{
            margin-top: 40px;
        }
        // 컨텐츠1
        &.cnt01{
            position: relative;
            header{
                .tab{
                    width: calc(100% / 12 * 4);
                    display: flex;
                    justify-content: space-between;
                    margin: 0 auto;
                    margin-top: 20px;
                    li{
                        width: 25%;
                        font-size: #{'min(14px,1.4em)'};
                        line-height: 40px;
                        position: relative;
                        margin: 0px 10px;
                        text-transform: uppercase;
                        text-align: center;
                        font-family: 'NsL';
                        font-weight: 700;
                        cursor: pointer;
                        &:hover{
                            &::before{
                                content: '';
                                display: block;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                background-color: #ffe841;
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                margin: auto;                            
                                z-index: -1;
                            }
                        }
                        &.on{
                            &::before{
                                content: '';
                                display: block;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                background-color: #ffe841;
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                margin: auto;                            
                                z-index: -1;
                            }
                            
                        }
                    }
                }
            }
            section{
                overflow: hidden;
                .artGroup{
                    display: none;
                    width: 150%;
                    &:nth-child(2){
                        width: 300%;
                        .image{
                            @for $img from 1 through 12{
                                &.i#{$img}{
                                    background-image: url('../images/sub2/pic0#{$img}.png');
                                }
                            }
                        }
                    }
                    &:nth-child(3){
                        width: 225%;
                        .image{
                            @for $img from 1 through 9{
                                &.i#{$img}{
                                    background-image: url('../images/sub2/drink0#{$img}.png');
                                }
                            }
                        }
                    }
                    &:nth-child(4){
                        width: 125%;
                        .image{
                            @for $img from 1 through 9{
                                &.i#{$img}{
                                    background-image: url('../images/sub2/ice0#{$img}.png');
                                }
                            }
                        }
                    }
                    &.on{
                        display: flex;
                    }
                    // 아티클 공통부분
                    article{
                        width: calc(100% / 4 - 10px);
                        margin: 0px 5px;
                        &:hover{
                            @for $loc from 1 through 6{
                            .image.i#{$loc}::before{
                                @include bgv;
                                background-image: url('../images/bg#{$loc}.jpg');
                            } 
                        }
                        .image::before{
                                @include bgv;
                                background-image: url('../images/bg7.png');
                            }
                        }
                        .image{
                            height: #{'min(8rem , 320px)'};
                            position: relative;
                            @include bg;
                            background-position: bottom;
                            @for $img from 1 through 6{
                                &.i#{$img}{
                                    background-image: url('../images/sub2/new_pic0#{$img}.png');
                                }
                            }
                            &::before{
                                transition: all 0.8s;
                                position: absolute;
                                content: '';
                                display: block;
                                width: 100%;
                                height: #{'min(6.5rem , 260px)'};
                                border-top-left-radius: 130px;
                                border-top-Right-radius: 130px;
                                background-color: $pc;
                                z-index: -1;
                            }
                        }
                        .texts{
                            text-align: center;
                            h3{
                                margin: 0 auto;
                                background-color: $pk;
                                font-family: 'gmM';
                                padding: 10px 20px;
                                font-size: #{'min(2.2em , 22px)'};
                                color: #3c2121;
                                border: 2.3px solid #3c2121;
                                position: relative;
                                width: max-content;
                                &::after{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    background-color: $dpk;
                                    border: 2.3px solid #3c2121;
                                    width: 100%;
                                    height: 100%;
                                    top: 6px;
                                    left: 6px;
                                    z-index: -1;
                                }
                            }
                            p{
                                font-family: 'NsR';
                                font-weight: 700;
                                line-height: 20px;
                                margin-top: 20px;
                                font-size: 13px;
                                color: #101010;
                            }
                        }
                    }
                }
                .btns{
                    display: flex;
                    margin: 0 auto;
                    text-align: center;
                    width: calc(100% / 12 * 5.5);
                    margin-top: 40px;
                    .btn{
                        width: 50%;
                        margin: 0px 10px;
                        font-size: 18px;
                        font-family: 'NsR';
                        border: 2.5px solid $red;
                        background-color: $iv;
                        color: $red;
                        border-radius: 25px;
                        line-height: 50px;
                        height: 50px;
                        color: $red;
                        font-weight: 700;
                        transition: all 0.3s;
                        cursor: pointer;
                        &:hover{
                            background-color: $red;
                            color: $iv;
                        }
                        &:nth-child(2){
                            background-color: $red;
                            color: $iv;
                            &:hover{
                                background-color: $iv;
                                color: $red;
                            }
                        }
                    }
                }
            }
            .dirBtn{
                display: flex;
                justify-content: space-between;
                position: absolute;
                width: 108%;
                top: 314px;
                cursor: pointer;
                left: -4%;
                height: 0px;
                .btn{
                    font-size: 60px;
                    font-family: 'xc';
                    color: $red;
                    span{
                        margin: 0px -22px;
                        font-weight: 700;
                        animation-name: light;
                        animation-duration: 1.5s;
                        animation-timing-function: ease-in-out;
                        animation-iteration-count: infinite;
                        &:nth-child(2){
                            animation-name: light2;
                        }
                    }
                    @keyframes light {
                        0%{
                            text-shadow: 0px 0px 0px $red;
                        }
                        50%{
                            text-shadow: 0px 0px 8px $red;
                        }
                        100%{
                            text-shadow: 0px 0px 0px $red;
                        }
                    }
                    @keyframes light2 {
                        100%{
                            text-shadow: 0px 0px 8px $red;
                        }
                        50%{
                            text-shadow: 0px 0px 0px $red;
                        }
                        0%{
                            text-shadow: 0px 0px 8px $red;
                        }
                    }
                }
            }
        }
        // 컨텐츠2
        &.cnt02{
            width: 100%;
            header{
                width: 80%;
                max-width: 1080px;
                margin: 0 auto;
            }
            section{
                width: 100%;
                max-width: inherit;
                position: relative;
                .artGroup{
                    width: 600%;
                    display: flex;
                    justify-content: space-between;
                    article{
                        opacity: 30%;
                        width: calc(100% / 6);
                        margin: 0px 80px;
                        display: flex;
                        justify-content: space-between;
                        transition: all 0.5s;
                        &.show{
                            opacity: 100%;
                        }
                        .texts{
                            width: calc(100% / 12 * 2.5);
                            padding: 40px 0px;
                            h3{
                                font-size: 36px;
                                line-height: 40px;
                                font-family: 'jal';
                                color: $red;
                                padding-left: 5px;
                            }
                            p{
                                font-family: 'NsR';
                                font-weight: 700;
                                font-size: 15px;
                                line-height: 20px;
                                margin-top: 20px;
                            }
                            .btn{
                                font-size: 18px;
                                font-family: 'NsR';
                                border: 2.5px solid $red;
                                background-color: $iv;
                                color: $red;
                                border-radius: 25px;
                                line-height: 50px;
                                height: 50px;
                                color: $red;
                                font-weight: 700;
                                text-align: center;
                                margin-top: 60px;
                                cursor: pointer;
                                transition: all 0.5s;
                                &:hover{
                                    background-color: $red;
                                    color: $iv;
                                }
                            }
                        }
                        .video{
                            width: calc(100% / 12 * 9);
                            border-radius: 20px;
                            height: 390px;
                            overflow: hidden;
                            video{
                                width: 100%;
                                height: 100%;
                            }
                            @include bg;
                            @for $img from 1 through 3{
                                &.i#{$img}{
                                    background-image: url('../images/m_c2_pic0#{$img}.jpg');
                                }
                            }
                        }
                    }
                }
                .btns{
                    display: flex;
                    width: 108%;
                    justify-content: space-between;
                    text-indent: -9999px;
                    height: 80px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    left: -120px;
                    .btn{
                        cursor: pointer;
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        @include bg;
                        background-image: url('../images/left.png');
                        &:nth-child(2){
                            background-image: url('../images/right.png');
                        }
                        &:hover{
                            box-shadow: 0px 0px 10px $red;
                        }
                    }
                }
            }
        }
        // 컨텐츠3
        &.cnt03{
            section{
                .artTop{
                    transform-origin: center;
                    animation-duration: 0.4s;
                    animation-delay: 0.2s;
                    animation-iteration-count: unset;
                    animation-fill-mode: forwards;
                    
                    @keyframes shake {
                        0%{
                            transform: rotate(0deg);
                        }
                        25%{
                            transform: rotate(-2deg);
                        }
                        50%{
                            transform: rotate(2deg);
                        }
                        75%{
                            transform: rotate(-2deg);
                        }
                        100%{
                            transform: rotate(0deg);
                        }
                    }
                    article{
                        display: flex;
                        width: 100%;
                        overflow: hidden;
                        outline: $gr solid 6px;
                        box-shadow: 10px 10px 3px 8px #c9c9c9;     
                        .image{
                            width: calc(100% / 12 * 5);
                            height: 400px;
                            background-position: top;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-image: url('../images/ev01.jpg');
                        }
                        .texts{
                            width: calc(100% / 12 * 7);
                            height: 400px;
                            padding: 100px 20px 60px;
                            text-align: center;
                            .txtGroup{
                                height: 400%;
                                .txt{
                                    height: 400px;
                                    h3{
                                        font-size: 20px;
                                        font-family: 'jal';
                                        text-align: center;
                                        line-height: 30px;
                                        span{
                                            color: $red;
                                        }
                                    }
                                    p{
                                        font-family: 'NsR';
                                        font-size: 14px;
                                        line-height: 20px;
                                        margin-top: 20px;
                                    }
                                    .btn{
                                        font-size: #{'min(1.8em, 18px)'};
                                        font-family: 'NsR';
                                        background-color: $red;
                                        color: #fff;
                                        border-radius: 25px;
                                        line-height: 50px;
                                        height: 50px;
                                        font-weight: 700;
                                        position: relative;
                                        text-align: right;
                                        width: calc(100% / 7 * 2.5);
                                        margin: 0 auto;
                                        margin-top: 60px;
                                        cursor: pointer;
                                        &:hover{
                                            background-color: $iv;
                                            outline: 2px solid $red;
                                            color: $red;
                                        }
                                        span{
                                            font-family: 'xc';
                                            margin-left: 34px;
                                            margin-right: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .artBtm{
                    margin-top: 40px;
                    display: flex;
                    justify-content: space-between;
                    article{
                        width: calc(100% / 4);
                        margin: 0 20px;
                        cursor: pointer;
                        &:hover .image{
                            box-shadow: 0 0 20px #ff3131 inset;
                        }
                        .image{
                            transition: all 0.2s;
                            height: #{'min(6rem, 240px)'};
                            border-radius: 20px;
                            box-shadow: -4px -4px 9px #c9c9c9 inset;
                            @include bg;
                            @for $img from 1 through 4{
                                &.i#{$img}{
                                    background-image: url('../images/pic0#{$img}.jpg');
                                }
                            }
                            span{
                                line-height: 40px;
                                font-size: 20px;
                                margin-left: 10px;
                                font-family: 'jal';
                                color: $gr;
                            }
                        }
                        &.on .image{
                            box-shadow: 0 0 20px #ff3131 inset;
                        }

                    }
                }
            }
        }
        &.cnt04{
            section{
                display: flex;
                justify-content: space-between;
                article{
                    width: calc(100% / 3);
                    height: #{'min(8.5rem, 340px)'};
                    margin: 0px 5px;
                    position: relative;
                    cursor: pointer;
                    &:hover .image{  
                        &::before{
                            width: 100%;
                        }
                        &::after{
                            height: 100%;
                        }
                    }
                    &:hover .texts{
                        background-color: rgba(255, 255, 255, 0.842);
                        h4{
                            color: $red
                        }
                    }  
                    &:hover{  
                        &::after{
                            width: 100%;
                        }
                        &::before{
                            height: 100%;
                        }
                    }
                    .image{
                        height: #{'min(8.5rem, 340px)'};
                        position: relative;
                        z-index: -1;
                        @include bgv;
                        background-position: right;
                        background-color: #fc0;
                        @for $img from 1 through 3{
                            &.i#{$img}{
                                background-image: url('../images/sns0#{$img}.png');
                            }
                        }
                        &::before{
                            transition: all 0.5s;
                            position: absolute;
                            content: '';
                            display: block;
                            width: 0%;
                            height: 15px;
                            background-color: $red;
                            top: 0;
                            right: 0;
                        }
                        &::after{
                            transition: all 0.5s;
                            position: absolute;
                            content: '';
                            display: block;
                            width: 15px;
                            height: 0%;
                            background-color: $red;
                            top: 0;
                            right: 0;
                        }
                    }
                    .texts{
                        transition: all 0.5s;
                        width:calc(100% - 30px);
                        height: 310px;
                        background-color: rgba(255, 255, 255, 0);
                        padding: 120px 20px;
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        h4{
                            text-align: center;
                            font-size: 48px;
                            font-family: 'xc';
                            color: rgba(255, 255, 255, 0);
                            &:nth-child(2){
                                line-height: 40px;
                                font-size: 24px;
                                font-family: 'jal';
                            }
                        }
                    }
                    &::before{
                        transition: all 0.5s;
                        position: absolute;
                        content: '';
                        display: block;
                        width: 15px;
                        height: 0%;
                        background-color: $red;
                        bottom: 0;
                        left: 0;
                    }
                    &::after{
                        transition: all 0.5s;
                        position: absolute;
                        content: '';
                        display: block;
                        width: 0%;
                        height: 15px;
                        background-color: $red;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}
// 배너
.bnrWrap{
    margin-top: 80px;
    &:nth-child(6){
        overflow: hidden;
    }
    .bnr01{
        @include grid('pc');
        display: flex;
        .ovrGrid{
            position: absolute;
            background-color: $gr;
            width: calc((100vw - 50vw) / 2 + 40%);
            margin-left: $ovr;
            height: 520px;
            text-indent: -9999px;
            border-top-right-radius: 260px;
            border-bottom-right-radius: 260px;
            z-index: -1;
        }
        .texts{
            width: 50%;
            position: relative;
            padding: 120px 50px 80px 20px;
            direction: rtl;
            h2{
                line-height: 60px;
                font-size: #{'min(40px, 4em)'};
                font-family: 'jal';
                color: #fff;

            }
            .btn{
                font-size: #{'min(1.8em, 18px)'};
                font-family: 'NsR';
                background-color: $iv;
                color: $red;
                border-radius: 25px;
                line-height: 50px;
                height: 50px;
                color: $red;
                font-weight: 700;
                margin-top: 60px;
                width: 51%;
                position: relative;
                padding-right: 66px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    background-color: $red;
                    color: $iv;
                }
                &::after{
                    content: '';
                    text-align: center;
                    display: inline-block;
                    font-family: 'xc';
                    background-color: $red;
                    color: #fff;
                    font-weight: 700;
                    width: 42px;
                    height: 42px;
                    line-height: 46px;
                    font-size: 35px;
                    border-radius: 50%;
                    position: absolute;
                    right: 10px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
        .images{
            width: 40%;
            position: absolute;
            right : 10%;
            animation-duration: 0.5s;
            animation-iteration-count: unset;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
            @keyframes in {
                0%{
                    right : -10%;
                    opacity: 0;
                }
                100%{
                    right : 10%;
                    opacity: 1;
                }
            }
            @keyframes out {
                0%{
                    right : 10%;
                    opacity: 1;
                }
                100%{
                    right : -10%;
                    opacity: 0;
                }
            }
            .image{
                height: 200px;
                @include bg;
                &.i1{
                    height: 320px;
                    width: calc(100% / 6 * 4);
                    background-image: url('../images/circle.png');
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    z-index: -1;
                    animation-name: circle;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                @keyframes circle {
                    0%{
                        transform: rotate(0deg);
                    }
                    100%{
                        transform: rotate(360deg);
                    }
                }

                &.i2{
                    height: 160px;
                    width: 100%;
                    background-image: url('../images/logo.png');
                }
                &.i3{
                    width: 110%;
                    height: #{'min(10rem, 400px)'};
                    background-image: url('../images/bnr1.png');

                }
                
            }
        }
    }
    // 배너2
    .bnr02{
        height: 240px;
        font-size: 180px;
        letter-spacing: -8px;
        font-family: 'jal';
        color: $red;
        white-space : nowrap;
    }
}